### macOS System Files ###
.DS_Store
.AppleDouble
.LSOverride
Icon 
._*

### Trash and Temporary Files ###
.Trashes
.TemporaryItems
.fseventsd

### IntelliJ IDEA Project Files ###
.idea/
*.iml
*.ipr
*.iws
out/

### Build Output Folders ###
target/
build/
out/

### Packaged Files ###
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### Maven Wrapper Files ###
.mvn/wrapper/maven-wrapper.jar

### Gradle Wrapper and Related Files ###
.gradle
/build/
HELP.md
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### Spring Tool Suite (STS) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans IDE ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Visual Studio Code ###
.vscode/
